.aboutP{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
}
.aboutSect{
    margin-top: 10%;
    display: inline-flex;
    gap: 2%;
    font-size: 80%;
    

    .abtContext{
        width: 55%;
        align-self: flex-end;
    }

    .desktopImg{
        height: 38rem;
        width: 30rem;
    }
    .phoneImg{
        display: none;
    }

  .button{
    background: #852727;
    color: azure;
    font-size: x-large;
    padding: 0.5rem;
    border-radius: 17px;
    transition: 1s;
    border-style: none;
  }
  button:hover{
    background: #5e1717;
  }
  .keyword{
    color: #912727;
  }
   strong{
    font-size: 28px;
   }
   .phoneImg{
    display: none;
    }
    .mobileImg{
      display: none;
    }
}

/*== Bellow are the Media Queries ===*/
@media (width < 900px){
  .aboutSect{
    .desktopImg{
      height: 29rem;
      width: 20rem;
    }
  }
}

@media (width < 750px){
  .aboutSect{
    display: flex;
    flex-direction: column;
    .desktopImg{
      display: none;
    }
    .mobileImg{
      display: block;
    }
    .abtContext{
        width: 100%;
        align-self: flex-end;
    }
  }
}

@media (width < 676px){
.aboutSect{
  .button{
    font-size: large;
    padding: 0.5rem;
  }
}

}

@media (width < 450px){

}