.aboutP{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
}
.aboutSect{
  display: flex;
  flex-direction: row;
  gap: 6%;
  width: 80%;
  padding-right: 7%;
  align-items: end;
  .button{
    background: #852727;
    color: azure;
    font-size: x-large;
    padding: 0.5rem;
    border-radius: 17px;
    transition: 1s;
    border-style: none;
  }
  button:hover{
    background: #5e1717;
  }
  .keyword{
    color: #912727;
  }
   strong{
    font-size: 28px;
   }
   .phoneImg{
    display: none;
    }
}

/*== Bellow are the Media Queries ===*/

@media (width < 1000px){
    .aboutP{
        padding-top: 16%;
        font-size: 21px;
    }
}

@media (width < 850px){
    .aboutP{
        padding-top: 24%;
    }
  .aboutSect img{
    height: 22rem
  }
}

@media (width < 750px){
    .aboutP{
        font-size: 18px;
    }
}

@media (width < 550px){
    .aboutP{
        padding-top: 38%;
    }
    .aboutSect{
        display: flex;
        flex-direction: column;
        gap: 0.5%;
        strong{
            font-size: 22px;
        }
    }
    .aboutSect img{
        height: 22rem
    }
    .formalImg{
        display: none;
    }
    .aboutSect .phoneImg{
        display: block;
        width: 100%;
        height: 30%;
    }
}

@media (width < 450px){
    .aboutSect{
          .button{
                font-size: medium;
                border-radius: 12px;
            }
    }
}