


.contactSect{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-top: 9%;
  padding-bottom: 10%;
  align-items: center;
  

  .content{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5%;
    background: #752626;
    justify-content: space-between;
    .icon{
        width: 70px;
      }
      .wallPa{
        width: 30rem;
        height: 100%;
      }
      .redCont{
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        color: #fcfcfc;
        button{
          font-size: 30px;
          padding: 3%;
          width: 70%;
        }
       
      }
  }


  .phoneCont{
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(#03030375),url('../assets/ContactDes.jpeg');
    background-position: center;
    background-size: cover;  
    text-align: center;
    align-content: center;
    color: whitesmoke;
    display: none;
}

}

/*=== Bellow is the style for the form====*/
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658); 
    backdrop-filter: blur(5px); 
    
    /* Centering the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

/* 2. Modal Content: The centered form container */
.modal-content {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 40%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* 3. Close Button */
.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #666;
}

/* 4. Form Layout */
.theForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 99%;
    align-items: center;
    justify-content: center;
    font-size: 35px;

    input{
      width: 95%;
      height: 35px;
      border-radius: 15px;
      font-size: large;
      border-width: 1px;
      padding-left: 1%;
    }
    textarea{
      width: 95%;
      height: 120px;
      border-radius: 15px;
      font-size: large;
      padding-left: 1%;
    }
    .btn{
      width: fit-content;
      height: 2.4rem;
      align-self: flex-start;
      margin-left: 2%;
      border-radius: 15px;
      font-size: large;
      color: #ffffff;
      background: #000000;
    }
    
}


@media (width < 1385px){

    .contactSect{
        padding-top: 0%;
    }
    .contactSect .content .redCont{
        font-size: 25px;

        button{
          font-size: 25px;
          padding: 3%;
          width: 70%;
        }
    }

    .contactSect .content .wallPa{
        width: 25rem;
        height: 100%;
      }
    
}

@media (width < 1160px){
    .contactSect .content .redCont{
        font-size: 20px;

        button{
          font-size: 20px;
          padding: 2%;
          width: 70%;
        }
    }

    .contactSect .content .wallPa{
        width: 50%;
      }
}

@media (width < 990px){
    .contactSect .content .redCont{
        font-size: 15px;
        width: 100%;

        button{
          font-size: 15px;
          padding: 1%;
          width: 70%;
        }
       
    }
     .contactSect .content .wallPa{
        width: 50%;
        height: 17rem;
      }

    /*=== Belo is the style for the form ===*/


    .modal-content {
        position: relative;
        background-color: white;
        padding: 20px;
        width: 80%;
    }

}

@media (width < 500px){
    .contactSect .content{
        width: 100%;

        .redCont button{
            width: fit-content;
            
        }
        .redCont .icon{
              display: none;
            }
        .redCont{
          padding: 8% 4%;
        }    

        .wallPa{
            display: none;
        }
    }
    .contactSect .phoneCont{
        display: block;
    }
    /*=== Below is the style for the form ===*/

    .modal-content {
        padding: 30px 7px;
        width: 90%;
    }
    .theForm{
            font-size: 28px;
input{
      width: 95%;
      height: 35px;
    }
    textarea{
      width: 95%;
      height: 90px;
      font-size: large;
      padding-left: 1%;
    }


        }

}

@media (width < 360px){
  .modal-content {
        padding: 20px;
        width: 86%;
        height: fit-content;
    }
    .theForm{
            gap: 5px;

    

}
}