/*=== Below is the style for Footer ===*/
.mainFooterSection{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  0% 0% 0% 0%;
  .contentContainerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    padding: 3% 5% 2% 5%;
    background-color: #000000;
    width: 95%;
    color: #ffffff;
    hr{
      width: 60%;
    }

    .footerSectOne{
      display: flex;
      flex-direction: column;
      gap: 2%;
      justify-content: end;
      width: 28%;
      .Logo{
        width: 8rem;
      }
      h3{
        margin-left: 10%;
        color: #912727;
      }
      

    }
    #theId{
        display: none;
      }
    .footerSectTwo{
      display: flex;
      flex-direction: column;
      gap: 1%;
      width: 35%;
      p{
         font-size: 22px;
      }
    }
    .footerSectThree{
      display: flex;
      flex-direction: column;
      gap: 2%;
      width: 35%;;
      p{
         font-size: 22px;
      }
    }
  }

}

/*==== ABout to add Media Querires ====*/

@media (width < 860px){
     .mainFooterSection .contentContainerFooter .footerSectOne{

         width: 28%;
      .Logo{
        width: 8rem;
      }
      h3{
        margin-left: 10%;
        color: #912727;
        font-size: 90%;
      }
    }

    .mainFooterSection .contentContainerFooter .footerSectTwo{
     p{
      font-size: 95%;}
    }   
    
    .mainFooterSection .contentContainerFooter .footerSectThree{
     .diAcvt{
      line-height: 80%;
     }
      p{
         font-size: 98%;
      }
    }
    
}

@media (width < 730px){
  .mainFooterSection .contentContainerFooter{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: fit-content;
  }
  .mainFooterSection .contentContainerFooter .footerSectOne{
    display: flex;
      flex-direction: row;
      gap: 0%;
      justify-content: left;
      align-items: end;
      width: 100%;
      .icon{
        width: 70px;
        height: 70px;
        padding: 0%;
      }
  }
    .mainFooterSection .contentContainerFooter .footerSectTwo{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: left;
      gap: 6%;
      p{
         font-size: large;
      }
  }
    .mainFooterSection .contentContainerFooter .footerSectThree{
      display: flex;
      flex-direction: row;
      width: 100%;
  }
}
@media (width < 470px){
  .mainFooterSection{
    padding-bottom: 5%;
  }
  .mainFooterSection .contentContainerFooter{
    padding-bottom: 7%;
  }
    .mainFooterSection .contentContainerFooter .footerSectOne{
        display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0%;
          justify-content: left;
          width: 100%;
          .icon{
            width: 70px;
            height: 70px;
            padding: 0%;
          }
      }
        .mainFooterSection .contentContainerFooter .footerSectTwo{
          display: flex;
          flex-direction: column;
          width: 100%;
          p{
            font-size: large;
          }
      }
        .mainFooterSection .contentContainerFooter .footerSectThree{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
      }
      .contentContainerFooter .footerSectTwo #theId{
        display: block;
        }

        }