/*=== Below is the style for Footer ===*/
.mainFooterSection{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  0% 0% 0% 0%;
  .contentContainerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0% 5% 1% 5%;
    background-color: #000000;
    width: 95%;
    color: #ffffff;
    padding-top: 3%;

    .footerSectOne{
      display: flex;
      flex-direction: column;
      gap: 2%;
      justify-content: left;
      width: 28%;

      .icon{
        width: 70px;
        padding-left: 10%;
      }
      .Logo{
        width: 16rem;
      }
      h3{
        margin-left: 15%;
        color: #912727;
      }

    }
    .footerSectTwo{
      display: flex;
      flex-direction: column;
      gap: 1%;
      width: 35%;
      p{
         font-size: 22px;
      }
    }
    .footerSectThree{
      display: flex;
      flex-direction: column;
      gap: 1%;
      width: 35%;;
      p{
         font-size: 22px;
      }
    }
  }

}

/*==== ABout to add Media Querires ====*/

@media (width < 860px){
     .mainFooterSection .contentContainerFooter .footerSectOne .Logo{
            width: 13rem;
          }


    .mainFooterSection .contentContainerFooter .footerSectTwo{
      p{
         font-size: medium;
      }
    }   
    
    .mainFooterSection .contentContainerFooter .footerSectThree{

      p{
         font-size: medium;
      }
    }
    
}

@media (width < 730px){
  .mainFooterSection .contentContainerFooter{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: fit-content;
  }
  .mainFooterSection .contentContainerFooter .footerSectOne{
    display: flex;
      flex-direction: row;
      gap: 2%;
      justify-content: left;
      width: 100%;
      .icon{
        width: 70px;
        height: 70px;
        padding: 0%;
      }
  }
    .mainFooterSection .contentContainerFooter .footerSectTwo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      p{
         font-size: large;
      }
  }
    .mainFooterSection .contentContainerFooter .footerSectThree{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  }
}
@media (width < 470px){
  .mainFooterSection{
    padding-bottom: 5%;
  }
  .mainFooterSection .contentContainerFooter{
    padding-bottom: 7%;
  }
    .mainFooterSection .contentContainerFooter .footerSectOne{
        display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2%;
          justify-content: left;
          width: 100%;
          .icon{
            width: 70px;
            height: 70px;
            padding: 0%;
          }
      }
        .mainFooterSection .contentContainerFooter .footerSectTwo{
          display: flex;
          flex-direction: column;
          width: 100%;
          p{
            font-size: large;
          }
      }
        .mainFooterSection .contentContainerFooter .footerSectThree{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
      }
}