/*=== Below is the style for Footer ===*/
.mainFooterSection{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  0% 0% 0% 0%;
  .contentContainerFooter{
    display: flex;
    flex-direction: row;
    gap: 10%;
    border-radius: 20px;
    padding: 0% 5% 1% 5%;
    background-color: #000000;
    width: 88%;
    color: #ffffff;

    .footerSectOne{
      display: flex;
      flex-direction: column;
      gap: 2%;
      justify-content: left;
      width: 28%;

      .icon{
        width: 70px;
        padding-left: 10%;
      }
      .Logo{
        width: 16rem;
      }
      h3{
        margin-left: 15%;
        color: #912727;
      }

    }
    .footerSectTwo{
      display: flex;
      flex-direction: column;
      gap: 2%;
      width: 20%;
      h2{
        line-height: 30%;
      }
      p{
         line-height: 30%;
         font-size: large;
      }
    }
    .footerSectThree{
      display: flex;
      flex-direction: column;
      gap: 2%;
      width: 20%;
      h2{
        line-height: 30%;
       
      }
      p{
         line-height: 30%;
         font-size: large;
      }
    }
    .devContact{
      display: flex;
      align-items: end;
      height: 100%;
      width: fit-content;
      font-size: larger;
    }
  }

}