@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
*{
font-family: "Alan Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*===== Below is the style for the Home Section*/
.homeSection{
  display: flex;
  flex-direction: column;
  height: fit-content;
  
}
.welcomeSection{
  position: relative;
  height: 50rem;
  width: 100%;
  margin-top: 4%;
  text-align: center;
  align-items: center;
  overflow: hidden;
  transform: rotateX('20');

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    transition: opacity 1s ease-in-out;
  }

  .backgroundImage.zoom-out {
    animation: zoomOut 7s ease-out forwards;
  }
  .backgroundImage.fade-in {
    opacity: 1 !important;
  }

  .heading{
    position: relative;
    z-index: 1;
    color: azure;
    font-size: 30px;
    width: 60%;
    text-align: left;
    margin-left: 7%;
    position: absolute;
    bottom: 0;
    padding-bottom: 7%;
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.aboutSection{
  padding: 7% 5% 7% 5%;
  font-size: 26px;
  height: fit-content;
}
.aboutPars{
  font-size: 87%;
  
  display: inline-flex;
  gap: 2%;
  align-items: center;
  border-style: solid;
  border-color: rgb(0, 0, 0);;
  border-width: 1px;
  border-radius: 20px;
  padding-left: 2%;
  height: 30rem;
  img{
    height: 30rem;
    border-radius: 20px;
  }
  .phoneImg{
    display: none;
  }
}



/*==== ABout to add Media Querires ====*/

@media (width < 1600px){
    .heading{
        h1{
            font-size: 48px;
        }
        h3{
            font-size: 28px;
        }
    }


}

@media (width < 1300px){
    .heading{
        h1{
            font-size: 48px;
        }
        h3{
            font-size: 25px;
        }
    }
}

@media (width < 1100px){
       .welcomeSection .heading {
    width: 90%;

  }
    .aboutSection{
      padding: 7% 5% 7% 5%;
      font-size: 24px;
      height: fit-content;
    }
    .aboutPars{
      font-size: 87%;
      height: fit-content;
      img{
        height: 100%;
        border-radius: 20px;
      }
    }
   
}

@media (width < 960px){
  .aboutSection{
      padding: 7% 5% 7% 5%;
      font-size: 22px;
      height: fit-content;
    }
    .aboutPars{
      align-items: start;
      font-size: 87%;
      height: fit-content;
      img{
        height: 100%;
        border-radius: 20px;
      }
    }
}

@media (width < 755px){
  .aboutSection{
      padding: 7% 5% 7% 5%;
      font-size: 20px;
      height: fit-content;
    }
    .aboutPars{
      align-items: start;
      font-size: 77%;
      height: fit-content;
      img{
        height: 27rem;
        border-radius: 20px;
      }
    }
}

@media (width < 600px){
  .aboutSection{
    h2{
      font-size: 20px;}
    }
  .welcomeSection{
    height: 22rem;
    }
    .aboutPars{
      display: flex;
      flex-direction: column;
      align-items: start;
      font-size: 77%;
      height: fit-content;
      padding-right: 2%;
      padding-top: 1%;
      img{
        height: 27rem;
        border-radius: 20px;
      }
      .phoneImg{
      display: block;
      width: 100%;
      height: 15rem;
    }
    }
    .formalImg{
      display: none;
    }
    
        /*   ==================== */        

    .heading{
      h1{
         font-size: 24px;
      }
      h3{
         font-size: 15px;
      }
    }      
}

@media (width < 395px){
  .aboutPars{
      font-size: 77%;
      img{
        height: 27rem;
        border-radius: 20px;
      }
      .phoneImg{
      display: block;
      width: 100%;
      height: 13rem;
    }
    }
}
