


/* Add this at the very top of index.css */
* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
}

/* Then your other existing styles below... */




/*== Below is the style for the Services Page ===*/

/*==== More Services Style ====*/

/*== Below is the style for the About Us section*/


/*==== Below is the style for the Projects Section==*/
.projectSectPros{
      .middleProCard{
      background-image: linear-gradient(#00000094)
                        ,url(./assets/middleImg.jpeg);
      }                  
}

/*=== Below is the style for the Project Gallary*/


/*=== Below is the style for the Contact Secton ====*/



