

.main-navbar {
  padding: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 0px 15px;
}
.navLogo{
  display: flex;
  align-items: center;
  color: rgb(253, 55, 6);
  span{
    color: black;
    font-size: medium;
  }
  img{
    width: 120px;
    height: 55px;
    margin-left: 2rem;
  }
}
.allNavLinks{
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 25px;
}
.nav-link:hover {
  color: rgb(253, 55, 6);
}

/*===== Below is the style for the Home Section*/
.homeSection{
  display: flex;
  flex-direction: column;
}
.welcomeSection{
  background-image:linear-gradient(rgba(0, 0, 0, 0.212), rgba(7, 7, 7, 0.226)), url('./assets/WelcomeBG.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 50rem;
  width: 100%;
  margin-top: 4%;

  text-align: center;
  align-items: center;

  .heading{
    color: azure;
    font-size: 30px;
    width: 60%;
    text-align: left;
    margin-left: 7%;
    position: absolute;
    bottom: 0;
    padding-bottom: 7%;
    
  }

}
.aboutSection{
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding: 10% 5% 0 7%;
  h2{
    font-size: 3rem;
    line-height: 90%;
    #wSpan{
      font-size: 4rem;
    }
  }

  .aboutPars{
    display: inline-flex;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 25px;
    div{
      width: 40%;
      height: fit-content;
      p span{
        font-weight: bold;
      }
      i{
        font-weight: bolder;
      }
    }
  }
}

/*== Below is the style for the Services Page ===*/

.servicePage{
  color: black;
  width: 100%;
  height: 50rem;
  margin-top: 2%;
  padding-top: 5%;
  text-align: center;
  align-content: center;
  h1{
    font-size: 56px;
  }
}

.cardsSect{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0)),url('./assets/bgService.jpeg');
  background-position: center;
  background-size: cover;
  height: 90%;
  align-content: center;
  alignment-baseline: central;

  .theCards{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }

  .card{
    background: #fdfeffb4;
    width: 19%;
    height: 470px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5rem;
    img{
      width: 100%;
      height: 200px;
      border-radius: 0.5rem;
    }
    .contentCard{
      width: 100%;
      height: 90%;
      text-align: left;
      #btnDiv{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        button{
          padding: 1% 2% 1% 2%;
          font-size: 20px;
          font-weight: bold;
          width: 75%;
          border-radius: 10px;
          border-width: thin;
        }
      }
    }
  }

}

/*== Below is the style for the About Us section*/
.aboutP{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.aboutSect{
  display: flex;
  flex-direction: row;
  gap: 6%;
  width: 80%;
  padding-right: 7%;
}

