

.main-navbar {
  padding: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 0px 15px;
}
.navLogo{
  display: flex;
  align-items: center;
  color: rgb(253, 55, 6);
  span{
    color: black;
    font-size: medium;
  }
  img{
    width: 120px;
    height: 55px;
    margin-left: 2rem;
  }
}
.allNavLinks{
  transition: 3s
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 25px;
}
.nav-link:hover {
  color: rgb(253, 55, 6);
}

/*=== Below is the style for Footer ===*/
.mainFooterSection{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  0% 0% 0% 0%;
  .contentContainerFooter{
    display: flex;
    flex-direction: row;
    gap: 10%;
    border-radius: 20px;
    padding: 0% 5% 1% 5%;
    background-color: #000000;
    width: 88%;
    color: #ffffff;

    .footerSectOne{
      display: flex;
      flex-direction: column;
      gap: 2%;
      justify-content: left;
      width: 28%;

      .icon{
        width: 70px;
        padding-left: 10%;
      }
      .Logo{
        width: 16rem;
      }
      h3{
        margin-left: 15%;
        color: #912727;
      }

    }
    .footerSectTwo{
      display: flex;
      flex-direction: column;
      gap: 2%;
      width: 20%;
      h2{
        line-height: 30%;
      }
      p{
         line-height: 30%;
         font-size: large;
      }
    }
    .footerSectThree{
      display: flex;
      flex-direction: column;
      gap: 2%;
      width: 20%;
      h2{
        line-height: 30%;
       
      }
      p{
         line-height: 30%;
         font-size: large;
      }
    }
    .devContact{
      display: flex;
      align-items: end;
      height: 100%;
      width: fit-content;
      font-size: larger;
    }
  }

}



/*===== Below is the style for the Home Section*/
.homeSection{
  display: flex;
  flex-direction: column;
  
}
.welcomeSection{
  background-image:linear-gradient(rgba(0, 0, 0, 0.212), rgba(7, 7, 7, 0.226)), url('./assets/WelcomeBG.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 50rem;
  width: 100%;
  margin-top: 4%;

  text-align: center;
  align-items: center;

  .heading{
    color: azure;
    font-size: 30px;
    width: 60%;
    text-align: left;
    margin-left: 7%;
    position: absolute;
    bottom: 0;
    padding-bottom: 7%;
    
  }

}
.aboutSection{
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding: 10% 5% 0 7%;
  h2{
    font-size: 3rem;
    line-height: 90%;
    #wSpan{
      font-size: 4rem;
    }
  }

  .aboutPars{
    display: inline-flex;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 25px;
    align-items: end;
    div{
      width: 40%;
      height: fit-content;
      p span{
        font-weight: bold;
      }
      i{
        font-weight: bolder;
      }
    }
  }
}

/*== Below is the style for the Services Page ===*/

.servicePage{
  color: black;
  width: 100%;
  height: 50rem;
  margin-top: 2%;
  padding-top: 5%;
  text-align: center;
  align-content: center;
  padding-bottom: 9%;
  h1{
    font-size: 56px;
  }
}

.cardsSect{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0)),url('./assets/bgService.jpeg');
  background-position: center;
  background-size: cover;
  height: 90%;
  align-content: center;
  alignment-baseline: central;

  .theCards{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }

  .card{
    background: #fdfeffb4;
    width: 19%;
    height: 470px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    border-style: solid;
    border-width: thin;
    border-radius: 0.5rem;
    img{
      width: 100%;
      height: 200px;
      border-radius: 0.5rem;
    }
    .contentCard{
      width: 100%;
      height: 90%;
      text-align: left;
      #btnDiv{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        button{
          padding: 1% 2% 1% 2%;
          font-size: 20px;
          font-weight: bold;
          width: 75%;
          border-radius: 10px;
          border-width: thin;
        }
      }
    }
  }

}

/*== Below is the style for the About Us section*/
.aboutP{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
}
.aboutSect{
  display: flex;
  flex-direction: row;
  gap: 6%;
  width: 80%;
  padding-right: 7%;
  align-items: end;
  button{
    background: #912727;
    color: azure;
    font-size: x-large;
    padding: 0.5rem;
    border-radius: 17px;
    transition: 1s;
  }
  button:hover{
    background: #5e1717;
  }
  .keyword{
    color: #912727;
  }
   strong{
    font-size: 28px;
   }
}

/*==== Below is the style for the Projects Section==*/

.projectsPage{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9%;
  padding-bottom: 10%;
  text-align: center;
  align-items: center;
  .projectSectIntro{
    width: 100%;
  }
  .projectSectPros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2%;
    width: 65.8%;
    align-items: center;
    

    .bothSide{
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 400px;
      height: 20%;
      img{
        width: 400px;
        height: 300px;
      }
      .proCard{
        box-shadow: 1.5px 3px 1.5px #c9d5e2;
        border-radius: 10px;
      }
    }
    .middleProCard{
      width: 403px;
      height: 57.2rem;
      background-image: linear-gradient(#00000094)
                        ,url(./assets/middleImg.jpeg);
      background-position: center;
      background-size: cover;
      align-content: center;
      .button{
        padding: 3%;
        text-decoration: none;
        font-size: 22px;
        border-radius: 20px;
        background: #b13d35;
        color: #ffffff;
        border-width: 0px;
      }

      img{
        width: 403px;
        height: 56rem;
      }
    }

  }
}

/*=== Below is the style for the Project Gallary*/


.GalaryPage{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  height: fit-content;
  margin-top: 5%;
  padding-top: 5%;
  align-items: center;
  padding-bottom: 10%;
  .beforePro{
    display: inline-flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 65%;

  }
  h1{
    font-size: 45px;
  }
  img{
    width: 32%;
    height: 25rem;
    border-radius: 18px;
    box-shadow: 1.5px 3px 1.5px #c9d5e2;
  }
  .afterSect{
    display: inline-flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 65%;
    
  }
  .borderGallary{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
    padding: 8% 0 5% 0;
  }
}

/*=== Below is the style for the Contact Secton ====*/

.contactSect{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  
  margin-top: 9%;
  padding-bottom: 10%;

  .content{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5%;
    background: #752626;
    justify-content: space-between;
    .icon{
        width: 70px;
      }
      .wallPa{
        width: 30rem;
        height: 100%;
      }
      .redCont{
        padding-left: 2%;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        color: #fcfcfc;
        button{
          font-size: 30px;
          padding: 3%;
          width: 70%;
        }
       
      }
  }
}
